/* :root {
    --bg1: darkslateblue;
    --bg2: darkorchid;
    --bg3: darkmagenta;
    --color1: aliceblue;
    --color2: deeppink;
    --color3: gold;
    --color4: goldenrod;
    --gray1: lightgray;
} */

/* Another theme */
:root {
  --bg1: rgb(65, 65, 167);
    --bg2: rgb(47, 93, 154);
    --bg3: rgb(54, 164, 138);
    --color1: aliceblue;
    --color2: rgb(13, 126, 11);
    --color3: gold;
    --color4: goldenrod;
    --gray1: lightgray;
}